.pricing-table {
    border-collapse: separate;
    border: 2px solid $color-secondary-light;
    border-radius: 1rem;
    background-color: $color-white;
    margin: 0 auto;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    transition: all 2s;

    &__disclaimer {
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
    }

    tr {
        border: none;
        border-bottom: 1px solid $color-grey-dark-2;

        &:hover:not(:first-child) {
            background-color: $color-secondary-dark;
            color: $color-white;
            font-weight: 700;
        }
    }

    th {
        border: none;
        border-bottom: 1px solid $color-grey-dark-2;
        font-weight: 800;
        
        &:nth-child(2) {
            text-align: center;
            border-left: 1px solid $color-grey-light-3;
        }
    }

    td {
        &:nth-child(2) {
            width: 20%;
            border-left: 1px solid $color-grey-light-3;
            th {
                text-align: center;
            }
        }
    }

    td, th {
        border-bottom: 1px solid $color-grey-light-3;
        padding: 1rem;
    }
}